.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 0;
}
.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* border: 3px solid green; */
  /* display: flex;
  justify-content: center; */
}

.parallax__group {
  /* position: relative; */
  /* height: 100vh; */
}

.parallax__layer--0 {
  transform: translateZ(-10px) scale(11);
  /* border: 3px solid blue; */

}
.parallax__layer--1 {
  transform: translateZ(-2.5px) scale(3.5);
  border: 3px solid blue;

}
.parallax__layer--name {
  transform: translateZ(-10px) scale(11);
}
.parallax__layer--resume_button {
  display: flex;
  justify-content: center;
  z-index: 500;
  transform: translateZ(-2px) scale(3);
}
.parallax__layer--2 {
  transform: translateZ(-2px) scale(3);
  /* border: 3px solid blue; */

}
.parallax__layer--3 {
  transform: translateZ(-1.5px) scale(2.5);
  /* border: 3px solid blue; */

}
.parallax__layer--4 {
  transform: translateZ(-1px) scale(2);
  /* border: 3px solid blue; */

}
.parallax__layer--5 {
  transform: translateZ(-0.5px) scale(1.5);
  /* border: 3px solid blue; */

}
.parallax__layer--6 {
  transform: translateZ(0) scale(1);
  /* border: 3px solid blue; */

}

.parallax__img {
  width: 100%;
  height: fit-content;
  object-fit: cover;
  display: block;
  object-position: center top;
  /* border: 3px solid blue; */
}


.name {
  font-size: 100px;
  color: #FFFFFF;
  opacity: 0.8;
  text-align: center;
  width: 100%;
  position: absolute;
  top: 60px;
  /* border: 3px solid red; */
  text-shadow: rgba(241,164,110,0.8) 0px 0px 35px;
  /* background: #000000; */
  z-index: 100000;
}

.navBtn {
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  padding: 10px 20px;

  /* background: rgba(255, 255, 255, 0.17); */
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  /* border: 2px solid rgb(94, 94, 94); */
  color: #ffffff;
  top: 300px;
  text-shadow: rgba(241,164,110,0.8) 0px 0px 35px;
  z-index: 100000;
}

@media only screen and (min-width: 1700px) {
  .name {
    top: 70px;
  }
  .navBtn {
    top: 330px;
  }
}

@media only screen and (min-width: 1900px) {
  .name {
    top: 100px;
  }
  .navBtn {
    top: 370px;
  }
}

.navBtn:hover{
  color: #000000;
  background-color: rgba(255, 255, 255, 0.5);
  transition: color 0.2s, background-color 0.2s;

}

#landing_layer{
}

#content_layer{
  transform: translateZ(0) ;
  background-size: cover;
  /* border: 3px solid cyan; */
}